
/* estilo gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: white;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.container {
    display: flex;
}


/* estilo do header */
header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #000000;
    text-decoration: none;
    display: inline-block;
    transition: .1s;
}

header a:hover {
    color: #15acb7;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

.lacteameufi {
    width: 90px;
}

/* estilo do top do site */
section.site-top .icons-sm img {
    height: 28px;
    width: 28px;
    margin-left: 5px;
    margin-top: 16px;
}

section.site-top .icons-sm img:hover {
    color: #15acb7 !important;
    transform: scale(1.05);
}

section.site-top {
    padding: 40px 4%;
}

section.site-top .container {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.site-top .txt-top h1 {
    font-size: 32px;
}

.site-top .txt-top p {
    text-align: justify;
}

.site-top .img-top img {
    height: 280px;
    width: 280px;
    border-radius: 50%;
    margin-left: 62.5px;
    margin-bottom: 10px
}
